[submodule "resources/dojotoolkit/source/dojo"]
	path = resources/dojotoolkit/source/dojo
	url = git://github.com/dojo/dojo.git
[submodule "resources/dojotoolkit/source/dijit"]
	path = resources/dojotoolkit/source/dijit
	url = git://github.com/dojo/dijit.git
[submodule "resources/dojotoolkit/source/dojox"]
	path = resources/dojotoolkit/source/dojox
	url = git://github.com/dojo/dojox.git
[submodule "resources/dojotoolkit/source/util"]
	path = resources/dojotoolkit/source/util
	url = git://github.com/dojo/util.git
