[submodule "externals\\dojotoolkit\\dojo"]
	path = externals\\dojotoolkit\\dojo
	url = git://github.com/dojo/dojo.git
[submodule "externals\\dojotoolkit\\dijit"]
	path = externals\\dojotoolkit\\dijit
	url = git://github.com/dojo/dijit.git
[submodule "externals\\dojotoolkit\\dojox"]
	path = externals\\dojotoolkit\\dojox
	url = git://github.com/dojo/dojox.git
[submodule "externals\\dojotoolkit\\util"]
	path = externals\\dojotoolkit\\util
	url = git://github.com/dojo/util.git
