.nhs-grid-nhsgrid-wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nhs-grid-nhsgrid-container {
    width: 100%;
    height: 100%;
}

.nhs-grid-nhsgrid-grid-node {
    width: 100%;
    height: 100%;
}

.nhs-grid-nhsgrid-pane-top {
    height: 24px;
}

.nhs-grid-nhsgrid-pane-center {
    border-style: none !important;
    padding: 0 !important;
    overflow: hidden;
}

.nhs-grid-nhsgrid-grid-node > div {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.nhs-grid-nhsgrid-button-separator {
    width: 30px;
}

/* icons */

.nhs-grid-nhsgrid-icon {
    background: url(../../images/nhs_grid_sprite.png) no-repeat top left;
}
.nhs-grid-nhsgrid-icon-add {
    background-position: 0 0;
	width: 16px;
    height: 16px;
}
.nhs-grid-nhsgrid-icon-csv-export {
    background-position: -17px 0;
	width: 16px;
    height: 16px;
}
.nhs-grid-nhsgrid-icon-delete {
    background-position: -34px 0;
	width: 16px;
    height: 16px;
}
.nhs-grid-nhsgrid-icon-arrow-left {
    background-position: -51px 0;
	width: 16px;
    height: 16px;
}
.nhs-grid-nhsgrid-icon-print {
    background-position: -68px 0;
	width: 16px;
    height: 16px;
}
.nhs-grid-nhsgrid-icon-refresh {
    background-position: -85px 0;
	width: 16px;
    height: 16px;
}
.nhs-grid-nhsgrid-icon-arrow-right {
    background-position: -102px 0;
	width: 16px;
    height: 16px;
}
.nhs-grid-nhsgrid-icon-save {
    background-position: -119px 0;
	width: 16px;
    height: 16px;
}
